/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: white;
    font-size: 18px;
}

li a{
    margin-left: 20px;
    text-decoration: none;
    color: #6b7280;
}

li a:hover {
    color: #5A67D8;
}

ul {
    display: flex;
    list-style: none;
}

.overview-hero {
    background-color: #E2E8F0;
}

.overview-hero .container{
    display: flex;
}

.overview-hero-image{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.overview-hero-text {
    margin-top: 50px;
    margin-bottom: 50px; 
    margin-right: 50px;
    margin-left: 0px;
}

.learn-about h2{
    color: #48BB78;
}


.learn-about .container {
    max-width: 990px;
}


.cards{
    display: flex;
    margin-bottom: 40px;
}

.card {
    padding: 10px;
    margin-right: 20px;
    border: #E2E8F0;
    border-style: solid;
    border-radius: 5px;
    box-shadow:  4px 5px #888888;
}

.card img {
    width: 300px;
    height: 300px;
}


.card-body h3{
    color: #48BB78;
    font-size: 21px;
}

.testing {
    background-color: #4A5568;
    color: white;
}

.testing .container {
    display: grid;
    grid-template-columns: 70% auto;
    max-width: fit-content;
    height: 300px;
    place-items: center;
}

.testing-desciption {
    margin-left: 200px;
}

.cta a{
    color: white;
    text-decoration: none;
    background-color: #48BB78;
    border-radius: 5px;
    padding: 17px;
}

.stories {
    padding-top: 100px;
    padding-bottom: 100px;
}

.stories article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stories h2 {
    color: #5A67D8;
}

.stories img {
    width: 25%;
    height: 25%;
    border-radius:50%;
    margin-right: 50px;
}

.stories a {
    text-decoration: none;
    color: #5A67D8;
}

.stories h3 {
    font-size: 18px;
}

.newsletter {
    background-color: #48BB78;
    padding: 79px;
    color: white;
}

.newsletter h3 {
    margin: 0;
    padding: 0;
}

.newsletter .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
}

button {
    width: 150px;
    margin-left: 10px;
    background-color: #5A67D8;
    border-radius: 5px;
}

input {
    border-radius: 5px;
    width: 300px;
    height: 40px;
}

footer {
    padding: 10px;
    background-color: #4A5568;
    color: white;
}